@font-face {
  font-display: swap;
  font-family: "PressStart2P";
  src:
    local("PressStart2P-Regular"),
    local("PressStart2P Regular"),
    url(../fonts/PressStart2P-Regular.woff);
}

@font-face {
  font-display: swap;
  font-family: "Inter-Variable";
  src:
    local("Inter-Variable"),
    local("Inter Variable"),
    url('../fonts/Inter-Variable.woff2') format('woff2 supports variations'),
    url('../fonts/Inter-Variable.woff2') format('woff2-variations');
  font-weight: 410 715;
}




