/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px var(--page-side-padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-inner-gap);

  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, no-repeat, no-repeat;

  font-family: var(--font-inter), sans-serif;
  font-variation-settings: "wght" var(--body-font-weight), "wdth" 130, "opsz" 0;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.content {
  inline-size: var(--content-width);
}

.button {
  border: 2px solid var(--main-color);
  padding: 10.5px 35px;
  color: var(--main-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;

  background: linear-gradient(
    90deg,
    var(--main-color) 0 50%,
    var(--background) 50% 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0%;
  transition: color 500ms, background-position 500ms;
}

.button:hover {
  color: var(--white);
  background-position: 0% 0%;
}

.button:hover .floppy-icon {
  --main-color: var(--white);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.header {
  padding: 122px 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-family: var(--font-press-start);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);
  text-align: center;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-inner-gap);
  align-items: center;
  inline-size: 100%;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--between-cards-gap);
}

.card {
  background-color: var(--background);
  border: 2px solid var(--black);
}

.card-header {
  display: flex;
  padding: var(--card-header-padding) 10px 2px;
  color: var(--main-color);
}

h2 {
  font-weight: var(--heading-font-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
}

.image-container {
  position: relative;
}

.cover-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  border-block-start: 2px solid var(--black);
  border-block-end: 2px solid var(--black);
}

.chistiy-list {
  filter: grayscale(0.7);
}

.ne-poluchitsa {
  filter: saturate(200%);
}

.pogonya {
  filter: contrast(20%);
}

.kto-ryadom {
  filter: hue-rotate(-90deg);
}

.obhodnye-strat {
  filter: sepia(90%);
}

.opuskautsa-ruki {
  filter: blur(2px);
}

.ya-zdes {
  filter: brightness(200%);
}

.watermark {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: var(--mainColor);
  text-shadow: -1px 0 var(--background), 0 1px var(--background),
    1px 0 var(--background), 0 -1px var(--background);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--background)) {
  .watermark {
    -webkit-text-stroke: 1px var(--background);
    text-shadow: none;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  align-items: end;
}

p {
  display: inline-block;
  inline-size: 100%;
}

.actions {
  inline-size: min-content;
  display: flex;
  gap: 6px;
  align-items: center;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 36px;
  padding-block-start: 6px;
  background-color: transparent;
  border: none;
}

.card__like-button {
  padding: 10.5px 35px;
}

.save-button {
  inline-size: var(--save-button-width);
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.floppy-icon {
  inline-size: var(--floppy-size);
  aspect-ratio: 1 / 1;
  fill: var(--main-color);
}

.dialog-save {
  inline-size: 341px;
  max-inline-size: calc(100vw - 2rem);
  padding: 30px var(--dialog-side-padding);
  border: 2px solid var(--main-color);
  background: var(--background);
  color: var(--main-color);

  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* когда окно открыто */
.dialog-save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  opacity: 1;
}

/* фон с блюром */
.dialog-save::backdrop {
  backdrop-filter: brightness(25%);
}

/* контент модалки: иконка + текст */
.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--main-color);
}

.dialog-icon {
  inline-size: 39px;
  block-size: 39px;
  color: currentColor;
}

.dialog-text {
  font-family: var(--font-press-start);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: currentColor;
}

/* кнопка OK */
.dialog__ok-button {
  inline-size: 100%;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}
