/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px var( --page-side-padding);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-inner-gap);

  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, no-repeat, no-repeat;

  font-family: var(--font-inter), sans-serif;
  font-variation-settings: 'wght' var(--body-font-weight), 'wdth' 130, 'opsz' 0;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.content {
  inline-size: var(--content-width);
}

.header {
  padding: 122px 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  background-color: var(--background);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-family: var(--font-press-start);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);
  text-align: center;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-inner-gap);
  align-items: center;
  inline-size: 100%;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--between-cards-gap);
}

.card {
  background-color: var(--background);
  border: 2px solid var(--black);
}

.card-header {
  display: flex;
  padding: var(--card-header-padding) 10px 2px;
  color: var(--main-color);
}

h2 {
  font-weight: var(--heading-font-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
}

.image-container {
  position: relative
}

.cover-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  border-block-start: 2px solid var(--black);
  border-block-end: 2px solid var(--black);
}

.cards-list .card:nth-child(2) .cover-image {
  filter: grayscale(0.7);
}


.watermark {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: var(--mainColor);
  text-shadow:
    -1px 0 var(--background), 
    0 1px var(--background), 
    1px 0 var(--background), 
    0 -1px var(--background);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports(-webkit-text-stroke: 1px var(--background)) {
  .watermark {
    -webkit-text-stroke: 1px var(--background);
    text-shadow: none;
  }
} 

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  align-items: end;
}

p {
  display: inline-block;
  inline-size: 100%;
}

.actions {
  inline-size: min-content;
  display: flex;
  gap: 6px;
  align-items: center;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 36px;
  padding-block-start: 6px;
  background-color: transparent;
  border: none;
}

.card__like-button {
  padding: 10.5px 35px;
}

.save-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px 20px;
  align-items: center;
}

.floppy-icon {
  inline-size: var(--floppy-size);
  aspect-ratio: 1 / 1;
  color: var(--main-color);
}

@media (width >= 1440px) {
  .save-button {
    flex-direction: row;
  }
}



