/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px var(--page-side-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-inner-gap);
  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-inter), sans-serif;
  font-variation-settings: "wght" var(--body-font-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.content {
  inline-size: var(--content-width);
}

.button {
  block-size: 38px;
  border: 2px solid var(--main-color);
  padding: 10.5px 35px;
  color: var(--main-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  background: linear-gradient(
    90deg,
    var(--main-color) 0 50%,
    var(--background) 50% 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0%;
  transition: color 0.5s ease-in-out, background-position 0.5s ease-in-out,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.button:hover {
  color: var(--white);
  background-position: 0% 0%;
}

.button:hover .floppy-icon {
  fill: var(--white);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  padding: 0;
  display: grid;
  place-items: center;  
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
  transition: border 0.3s ease;
  overflow: visible;
  position: relative;
  z-index: 0;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}
.heart {
  transform-origin: center;
}

.like-icon {
  display: block;
  transform-origin: center;
}

.like-icon:hover {
  .core {
    fill: var(--main-color);
    transition: fill 0.3s linear;
  }
  .main-body {
    fill: var(--main-color);
    transition: fill 0.3s 0.05s linear;
  }
}

.card__icon-button:active {
  .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
  }
  .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s linear;
  }
}

.card__like-button {
  width: 160px;
  padding: 10.5px 35px;
}

.like-icon.is-liked {
  .core {
    fill: var(--animation-fill-color);
    transition: 0.3s 0.05s linear;
  }
  .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s linear;
  }
  .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.06s linear;
  }
  .heart {
    animation: heartbeat 0.3s 0.1s 1 ease-in;
  }
  .sparks {
    animation: sparks 0.3s 0.3s 1 ease-in;
  }
}

.header {
  padding: 122px 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-family: var(--font-press-start);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

h1 {
  font-size: var(--main-heading-font-size);
  text-align: center;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-inner-gap);
  align-items: center;
  inline-size: 100%;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--between-cards-gap);
}

.card {
  background-color: var(--background);
  border: 2px solid var(--black);
}

.card-header {
  display: flex;
  padding: var(--card-header-padding) 10px 2px;
  color: var(--main-color);
}

h2 {
  font-variation-settings: 'wght' var(--heading-font-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
}

.image-container {
  position: relative;
}

.cover-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-block-start: 2px solid var(--black);
  border-block-end: 2px solid var(--black);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-contrast {
  filter: contrast(20%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-brightness-sepia {
  filter: brightness(150%);
  filter: sepia(50%);
}

.watermark {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: var(--main-color);
  text-shadow: -1px 0 var(--background), 0 1px var(--background),
    1px 0 var(--background), 0 -1px var(--background);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--background)) {
  .watermark {
    -webkit-text-stroke: 1px var(--background);
    text-shadow: none;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  align-items: end;
}

p {
  display: inline-block;
  inline-size: 100%;
}

.actions {
  inline-size: min-content;
  display: flex;
  gap: 6px;
  align-items: center;
}

.save-button {
  inline-size: var(--save-button-width);
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.floppy-icon {
  inline-size: var(--floppy-size);
  aspect-ratio: 1 / 1;
  fill: var(--main-color);
}

.dialog-save {
  inline-size: 341px;
  max-inline-size: calc(100vw - 2rem);
  padding: 30px var(--dialog-side-padding);
  border: 2px solid var(--main-color);
  background: var(--background);
  color: var(--main-color);
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dialog-save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  opacity: 1;
}

.dialog-save::backdrop {
  backdrop-filter: brightness(25%);
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--main-color);
}

.dialog-icon {
  inline-size: 39px;
  block-size: 39px;
  color: currentColor;
}

.dialog-text {
  font-family: var(--font-press-start);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: currentColor;
}

.dialog__ok-button {
  inline-size: 100%;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}
