/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-inter: "Inter", sans-serif;
    --font-press-start: "PressStart2P", fantasy;
    --body-font-weight: 410;
    --heading-font-weight: 715;
    --main-heading-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

    --page-inner-gap: 100px;
    --page-side-padding: 0;
    --content-width: clamp(375px, 100%, 700px);
    --between-cards-gap: 50px;
    --card-header-padding: 6px;
    --main-inner-gap: 50px;
    --floppy-size: 28px;
    --dialog-side-padding: 40px;
    --save-button-width: 306px;

    --page-bg:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

    --white: #fff;
    --black: #000;
    --green: #00CC14;
    --red: #FF0000;

    --main-color: var(--black);
    --background: var(--white);
    --heart-contour: var(--black);
    --animation-fill-color: var(--red);


}

@media (width > 375px) {
    :root {
        --page-inner-gap: 98px;
        --between-cards-gap: 52px;
        --main-inner-gap: 52px;
        --floppy-size: 21px;
        --save-button-width: 335px;
        --dialog-side-padding: 30px;
    }
}